# Dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*

# Runtime / local data
*.sqlite
*.sqlite3
*.db
uploads/

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
